h1 {
    color: rgb(206, 61, 61); 
    font-size: 40px;
    font-family: verdana;
    text-align: center;
    }
h4 {
    color: black; 
    font-size: 25px;
    font-family: verdana;
    text-align: center;
    }

h3 { 
    color:black; 
    font-family: verdana; 
    text-align: center;
    font-size: 20px;
    padding: 2%;
} 

p  {
    color:rgb(63, 61, 61);
    font-size:24px;
    font-family:verdana; 
    }

.color {
    color:rgb(63, 61, 61); 
    font-family: verdana; 
    font-size: 20px"
    }

.section1 {
    height: 800px;
    text-align: center;
    padding: 3%;
    }

.header {
    background-color:rgb(250, 219, 162); 
    height:180px;
    padding: 3%; 
   }

.section2 {
    text-align: center;
    background-color: rgb(209, 235, 235);
    height:390px;
    }

.section3 {
    background-color: rgb(209, 235, 235);
    height:590px;
    padding: 2%; 
    }
    
.sectiontutorial {
    background-color: rgb(209, 235, 235); 
    height:770px; 
    font-family: verdana; 
    text-align:left;
    padding: 2%; 
    }

.table {
    width: 1200px;
    height:150px; 
    border:0; 
    spacing:40 
    padding:2
    margin-bottom : .5em;
    table-layout: fixed
    text-align: center;  
    }

.fa-check-circle {
    color: limegreen; 
}

tr, td {
    text-align: center;
    }

h5 {
    color:black; 
    font-family: verdana; 
    text-align: center; 
    font-size: 16px;
    }   
    
  img {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(106, 173, 204);
    border: 3px solid rgb(192, 106, 106);
    border-top: 3px solid rgb(144, 204, 144);
    box-shadow: 08px 08px 16px rgb(14, 13, 14);     
    ;
    }
li {  
    color:rgb(63, 61, 61); 
    font-family: verdana; 
    font-size: 20px; 
    padding: 0.5%;
    }
